In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
from trinomial import black_Karasinski, hull_white, yield_interpolation

In [4]:
# Data as extracted from the ECB, 02.05.2024
rates=([
        3.694808, 3.544632, 3.408938,
        3.352461, 2.996757, 2.775210, 2.646361, 2.580491,
        2.556397, 2.559044, 2.577859, 2.605483, 2.636870,
        2.668632, 2.698557, 2.725272, 2.749787, 2.766319,
        2.780164, 2.789601, 2.794828, 2.796117, 2.793779,
        2.788143, 2.779540, 2.768292, 2.754708, 2.739079,
        2.721675, 2.702743, 2.682511, 2.661186, 2.638954
    ])


r = yield_interpolation(rates,"monthly")

#### Parameters setting
- **note:** Given the yield curve provided, the process has been modeled with a time step dt equal to the one of the term structure

In [9]:
yield_curve = [(0.5*i, 0.03+0.001*i) for i in range(1, 10)]


sim1  = black_Karasinski(0.06, 0.08, 4, 8 , yield_curve)
sim2 = hull_white(0.25, 0.01, 1, 12 , r)
sim2.print_tree()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-,-,-,-,-,-,-,-,-,7.611426,7.673838,7.798589,7.399844
1,-,-,-,-,-,-,-,-,7.101884,7.111426,7.173838,7.298589,6.899844
2,-,-,-,-,-,-,-,6.635544,6.601884,6.611426,6.673838,6.798589,6.399844
3,-,-,-,-,-,-,6.202818,6.135544,6.101884,6.111426,6.173838,6.298589,5.899844
4,-,-,-,-,-,5.794117,5.702818,5.635544,5.601884,5.611426,5.673838,5.798589,5.399844
5,-,-,-,-,5.399852,5.294117,5.202818,5.135544,5.101884,5.111426,5.173838,5.298589,4.899844
6,-,-,-,5.010434,4.899852,4.794117,4.702818,4.635544,4.601884,4.611426,4.673838,4.798589,4.399844
7,-,-,4.616276,4.510434,4.399852,4.294117,4.202818,4.135544,4.101884,4.111426,4.173838,4.298589,3.899844
8,-,4.207789,4.116276,4.010434,3.899852,3.794117,3.702818,3.635544,3.601884,3.611426,3.673838,3.798589,3.399844
9,3.771003,3.707789,3.616276,3.510434,3.399852,3.294117,3.202818,3.135544,3.101884,3.111426,3.173838,3.298589,2.899844
10,-,3.207789,3.116276,3.010434,2.899852,2.794117,2.702818,2.635544,2.601884,2.611426,2.673838,2.798589,2.399844
11,-,-,2.616276,2.510434,2.399852,2.294117,2.202818,2.135544,2.101884,2.111426,2.173838,2.298589,1.899844
12,-,-,-,2.010434,1.899852,1.794117,1.702818,1.635544,1.601884,1.611426,1.673838,1.798589,1.399844
13,-,-,-,-,1.399852,1.294117,1.202818,1.135544,1.101884,1.111426,1.173838,1.298589,0.899844
14,-,-,-,-,-,0.794117,0.702818,0.635544,0.601884,0.611426,0.673838,0.798589,0.399844
15,-,-,-,-,-,-,0.202818,0.135544,0.101884,0.111426,0.173838,0.298589,-0.100156
16,-,-,-,-,-,-,-,-0.364456,-0.398116,-0.388574,-0.326162,-0.201411,-0.600156
17,-,-,-,-,-,-,-,-,-0.898116,-0.888574,-0.826162,-0.701411,-1.100156
18,-,-,-,-,-,-,-,-,-,-1.388574,-1.326162,-1.201411,-1.600156

In [9]:
sim1.print_embedded_option_bond(100, 0.05,"C",105,4) #in this example the bond can be redeemed starting by period 4

The Option value is 0.1264

,0,1,2,3,4,5,6,7,8
0,-,-,-,-,-,-,-,93.020439,96.109023
1,-,-,-,-,-,-,92.522455,94.409412,96.874626
2,-,-,-,-,-,93.328523,94.29789,95.698451,97.579393
3,-,-,-,-,95.129715,95.375379,95.953239,96.892265,98.227304
4,-,-,-,97.709839,97.368147,97.290587,97.493322,97.996008,98.822226
5,-,-,100.912239,100.08189,99.468021,99.078512,98.923362,99.014877,99.367886
6,-,104.612646,103.373879,102.311185,101.433258,100.7441,100.248838,99.954050,99.867853
7,108.615358,107.053373,105.651686,104.399882,103.268491,102.29272,101.475367,100.818619,100.325525
8,-,109.068466,107.502857,106.119804,104.969804,103.730028,102.608617,101.613550,100.744123
9,-,-,108.560852,106.760683,105.0,105.0,103.65423,102.343643,101.126682
10,-,-,-,107.060225,105.0,105.0,104.617755,103.013509,101.476056
11,-,-,-,-,105.0,105.0,105.0,103.627548,101.794916
12,-,-,-,-,-,105.0,105.0,104.189936,102.085752
13,-,-,-,-,-,-,105.0,104.704621,102.350884
14,-,-,-,-,-,-,-,105.000000,102.592464

In [10]:
sim1.print_swap(100,2)

c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'
c:\Users\matti\Documents\University\tesi\code\trinomial.py:2733: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.iloc[i, j] = '-'

      0     1     2     3     4     5     6     7     8
0     -     -     -     -     -     -     -  4.92  2.66
1     -     -     -     -     -     -  5.75  4.14  2.23
2     -     -     -     -     -  5.85  4.76  3.43  1.85
3     -     -     -     -  5.39  4.71  3.84  2.77  1.50
4     -     -     -  4.49  4.14  3.65   3.0  2.18  1.18
5     -     -  3.24  3.18  2.99  2.68  2.23  1.63  0.89
6     -  1.73   1.9  1.97  1.93  1.78  1.52  1.14  0.63
7   0.0  0.38  0.66  0.86  0.96  0.96  0.87  0.68  0.39
8     - -0.88 -0.48 -0.17  0.06  0.21  0.28  0.27  0.18
9     -     - -1.55 -1.13 -0.77 -0.48 -0.26 -0.11 -0.02
10    -     -     -  -2.0 -1.53 -1.12 -0.76 -0.45 -0.20
11    -     -     -     - -2.23  -1.7 -1.21 -0.77 -0.36
12    -     -     -     -     - -2.23 -1.62 -1.05 -0.51
13    -     -     -     -     -     -  -2.0 -1.31 -0.65
14    -     -     -     -     -     -     - -1.55 -0.77

In [11]:
sim1.swaption(100,2,[1,3,5,7])

The price of the Swaption is: 0.3648

array([[0.36, 0.52, 0.71, 0.94, 1.21, 1.54, 1.95, 2.46, 2.66],
       [0.  , 0.37, 0.53, 0.74, 0.98, 1.27, 1.63, 2.08, 2.23],
       [0.  , 0.23, 0.37, 0.55, 0.76, 1.03, 1.34, 1.74, 1.85],
       [0.  , 0.  , 0.23, 0.37, 0.56, 0.79, 1.07, 1.42, 1.5 ],
       [0.  , 0.  , 0.12, 0.22, 0.38, 0.58, 0.82, 1.13, 1.18],
       [0.  , 0.  , 0.  , 0.11, 0.21, 0.38, 0.59, 0.86, 0.89],
       [0.  , 0.  , 0.  , 0.04, 0.09, 0.2 , 0.38, 0.61, 0.63],
       [0.  , 0.  , 0.  , 0.  , 0.03, 0.08, 0.19, 0.39, 0.39],
       [0.  , 0.  , 0.  , 0.  , 0.01, 0.02, 0.06, 0.18, 0.18],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.01, 0.03, 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ]])